/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* common */
body{
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: calc( 84% - 30px);
    /* max-width: 1200px; */
    margin: auto;
}

a{
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 15px;
}

a:not(.btn):hover{
    color: gray;
}

/* typo */
h1{
    font-size: 75px;
    padding: 80px 0 40px;
}

p{
    font-size: 15px;
    line-height: 20px;
}

/* btn */
.btn{
    line-height: normal;
    background-color:#0061ff;
    color: white;
    padding: 7px 15px;
}

/* header */
header{
    height: 70px;
    line-height: 70px;
    padding: 0 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: white;
}

.logo, header nav{
    float: left;
}

.logo{
    width: 8%;
}

.logo img{
    vertical-align: middle;
    width: 100%;
}

nav.left, nav.right{
    width: 46%;
}

nav.right{
    text-align: right;
}

header nav li{
    display: inline-block;
    margin-left: 30px;
}


/* main */
main{
    padding-top: 70px;
}

.hero{
    background-color: #b4d0e7;
}

.hero-text, .hero-img{
    float: left;
}

.hero-text{
    width: 30%;
}

.hero-img{
    width: 70%;
    text-align: right;
}

.hero-img img{
    width: 90%;
    transform: translate(0, 70px);
}

.hero .btn{
    margin: 30px 0 10px;
}

.hero .arrow-icon{
    font-size: 40px;
    margin: 40px 0;
}

/* footer */
