/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* common */
html{
    scroll-behavior:smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: calc(84% - 30px);
    max-width: 1300px;
    margin: auto;
}

.small-container{
    width: 70%;
    max-width: 1200px;
    margin: auto;
}

a{
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 15px;
}

a.link{
    text-decoration: underline;
    color: #0061ff;
    font-size: 13px;
}

p .link{
    font-size: 15px;
    line-height: 20px;
    color: black;
    text-decoration: underline;
}

a:not(.btn):hover{
    color: gray;
}

p .link:hover{
    color: #0061ff;
}

section:not(.hero){
    margin: 200px 0;
}

.fa-check{
    color: #0061ff;
}
/* typo */
h1{
    font-size: 75px;
    padding: 80px 0 40px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 25px;
}

h5{
    font-size: 16px;
}
p{
    font-size: 15px;
    line-height: 20px;
}

/* btn */
.btn{
    line-height: normal;
    background-color:#0061ff;
    color: white;
    padding: 7px 15px;
    text-align: center;
}

.btn.extended{
    width: 100%;
}

.btn.wth{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.btn:hover{
    background-color: rgba(0, 97, 255, 0.8);
}

.btn.wth:hover{
    background-color: #0061ff;
    color: white;
    border: 1px solid #0061ff;
}

/* header */
header{
    height: 70px;
    line-height: 70px;
    padding: 0 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: white;
}

.logo, header nav{
    float: left;
}

.logo{
    width: 8%;
}

.logo img{
    vertical-align: middle;
    width: 100%;
}

nav.left, nav.right{
    width: 46%;
}

nav.right{
    text-align: right;
}

header nav li{
    display: inline-block;
    margin-left: 30px;
}


/* main */
main{
    padding-top: 70px;
}




.hero{
    background-color: #b4d0e7;
}

.hero-text, .hero-img{
    float: left;
}

.hero-text{
    width: 30%;
}

.hero-img{
    width: 70%;
    text-align: right;
    position: relative;
    bottom: -70px;
}

.hero-img img{
    width: 90%;
}

.hero .btn{
    margin: 30px 0 10px;
}

.hero .arrow-icon a{
    font-size: 40px;
    margin: 40px 0;
}

.hero .arrow-icon a:hover{
    color: black;
}

.bounce {
    animation: bounce 2s infinite;
  }
  
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-25px);
  }
  65% {
    transform: translateY(-15px);
  }
}

.invoice-selection{
    margin: 50px 0 30px;
}

.invoice-selection label{
    margin-right: 15px;
}



.plan-row{
    width: 100%;
}

.plan{
    border: 1px solid #d0d0d3;
}

.plan.plan-col{
    height: 1000px;
    float: left;
    width: calc(100% / 3 - 40px); 
}

#professional{
    margin-right: 60px;
}

#advanced{
    margin-left: 60px;
}

.plan-row{
    margin: 60px 0;
}

.plan-category{
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #d0d0d3;
}

.plan-details{
    padding: 25px;
}

.plan-cost-period{
    margin: 10px 0 40px;
}
.plans .price{
    font-weight: 600;
}

.plans .period{
    color: #74828f;
}

.plan-details ul{
    list-style: none;
    margin: 40px 0;
}

.plan-details li{
    font-size: 13px;
    margin: 25px 0;
}

.fa-ul li{
    padding-left: 1.3em;
}

.fa-ul > li:before {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em; 
}

.fa-ul.check > li:before{
    content: "\f00c";
    color: #0061ff;
    font-weight: 900;
}

.fa-ul .user:before{
    content: "\f007";
}

.fa-ul .pencil:before{
    content: "\f303";
    font-weight: 900;
}

.fa-ul .folder:before{
    content: "\f07b";
}

.fa-ul .user-plus:before{
    content: "\f234";
    font-weight: 900;
}

.fa-ul .smile:before{
    content: "\f118";
}

.line{
    height: 1px;
    width: 50px;
    background-color: #d0d0d3;

}

#enterprise .plan-details{
    position: relative;
}

#enterprise .plan-details a{
    position: absolute;
    right: 25px;
    top: 25px;
}




.partner-left, .partner-right{
    float: left;
    width: 50%;
}

.partner-left img{
    width: 100%;
}

.partner-right{
    padding: 50px;
}

.partner-right p{
    margin: 20px 0;
}




.box{
    float: left;
    width: calc(100% / 3 - 40px); 
}

.row-box{
    margin: 70px 0;
}
.box.box-left{
    margin-right: 60px;
}

.box.box-right{
    margin-left: 60px;
}

.box-img img{
    width:100%;
}

.box-text h3{
    margin: 20px 0;
}


section.team{
    margin: 200px 0 100px;
}

.team-top .link{
    margin: 30px 0;
}


.team-col{
    float: left;
    width: calc(100% / 3);

}
.team-col.center{
    position: relative;
}
.team-col.center::after{
    background-color: #f5f5f5;
    padding-bottom: 100%;
    content: "";
    display: block;
}

.team-container{
    position: absolute;
    background-color: #f5f5f5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 40px;
}

.team-box{
    width: 50%;
    float: left;
    position: relative;
}

.team-box::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

.team-box img{
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.team-img img{
    width: 30%;
}

.team-col.center p, .team-col.center .line {
    margin: 30px 0;
}

#designit{
    background-color: #a2d39b;
    padding: -12px;
    border: 12px solid #d0e9cd;
}


#arizona{
    background-color: #61082b;
}

#florida{
    background-color: #0093ce;
}

#topps{
    background-color: #ff1c1c;
}

#world-bicyble-relief{
    background-color: #d5001f;
}

#hearst-corp{
    background-color: #b4d0e7;
}

#lonely-planet{
    background-color: #0d2481;
}

#clear-channel{
    background-color: #ffd830;
}

.prova-gratuita{
    background-color: #b4d0e7;
}

.prova-gratuita .small-container{
    padding: 100px 0;
    position: relative;
}

.prova-gratuita h2{
    color: #61082b;
}

.prova-gratuita .btn.wth{
    border: 0;
    position: absolute;
    top: 100px;
    right: 0;
    padding: 10px 60px;
}

section.faq{
    margin: 100px 0;
}

.faq ul{
    list-style: none;
    margin-top: 70px;
}

.faq li{
    border-top: 1px solid #dcdcde;
    border-bottom: 1px solid #dcdcde;
    padding: 30px 30px 30px 0;
    margin-top: -1px;
}


.faq li h5{
    float: left;
}

.faq li span{
    float: right;
} 
/* footer */

footer{
    background-color: black;
    color: white;
}

.footer-top{
    padding-top: 100px;
    margin-bottom: 100px;
}

.footer-col{
    float: left;
    width: 20%;
}

footer ul{
    list-style: none;
    margin: 20px 0;
}

footer li{
    line-height: 30px;
}

footer li a{
    color: white;
}

footer .language{
    width: 10%;
    border-top: 1px solid white;
    font-size: 14px;
    color: #666666;
    padding: 50px 0;
}

footer .language .fa-globe-americas{
    color: #999999;
}