/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* common */
body{
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

a{
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 15px;
}

a:not(.btn):hover{
    color: gray;
}


/* btn */
.btn{
    line-height: normal;
    background-color:#0061ff;
    color: white;
}

.btn.sm{
    padding: 7px 15px;
}


/* header */
header{
    height: 70px;
    line-height: 70px;
    padding: 0 15px;
}

.logo, header nav{
    float: left;
}

.logo{
    width: 12%;
}

.logo img{
    vertical-align: middle;
}

nav.left, nav.right{
    width: 44%;
}

nav.right{
    text-align: right;
}

header nav li{
    display: inline-block;
}

nav.left li{
    margin-right: 30px;
}

nav.right li{
    margin-left: 30px;
}

/* main */
/* footer */
